upstream {{ django_name }} {
    server unix://{{ django_path }}/.wsgi.sock;
}

server {
    listen 443 ssl;
    server_name {{ django_domain_name }} {% for domain in django_extra_domain_names|default([]) %}{{ domain }}{% endfor %};

    {% if ssl_config_file.stat.exists -%}
    include {{ ssl_config_file.stat.path }};
    {%- else %}
    include snippets/snakeoil.conf;
    {%- endif %}

    {% if django_disallow_robots -%}
    include snippets/disallow_robots.conf;
    {%- endif %}

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

    error_log /var/log/nginx/{{ django_name }}_error.log;
    access_log /var/log/nginx/{{ django_name }}_access.log;

    location /static/ {
        alias {{ django_static_path }}/;
    }

    location /media/ {
        alias {{ django_media_path }}/;
    }

    location / {
        uwsgi_pass  {{ django_name }};
        include     uwsgi_params;
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js|ttf|woff2||svg)$ {
        expires 365d;
    }
}
